
.carousel-item{
	height: 550px;
}


.slider1{
	background-image: linear-gradient(rgba(0, 34, 68, .7),
	 rgba(0, 34, 68, .7)),
	url(imagenes/slider1.jpg);
	background-size: cover;
}
.slider2{
	background-image: linear-gradient(rgba(0, 34, 68, .7),
	 rgba(0, 34, 68, .7)), url(imagenes/slider2.jpg);
	background-size: cover;
}
.slider3{
 	background-image: linear-gradient(rgba(0, 34, 68, .7),
	rgba(0, 34, 68, .7)), url(imagenes/slider3.jpg);
	background-size: cover;	
}
.expe{
position: absolute; 
top: 60px;
right: 80px;
color: #fff;
}
.jumbotron{
background-color: #002F44;
margin: -10px;
color: white;
}
.display-4{
	
	text-align: center;
}
.card-body{
	color: white;
	text-align: center;
	background-color: #002F44

}
.row{
	margin-top: 50px;

}
.jumbotron2{
background-color: white;

margin:50px; 
}
.slider4{
	background-color: #B3ACAC;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:20px; 
    margin-bottom: 30px;
}
.footer{
	background-color: #087E8C;
	
}
.cellogo{
	height: 40px;
	width: 70px;
}

.footer{
	padding: 10px 40px;
}
