
.carousel-item{
	height: 550px;
}

.bordes{
	border-style: none;
}
.slider1{
	background-image: linear-gradient(rgba(0, 34, 68, .7),
	 rgba(0, 34, 68, .7)),
	url(imagenes/slider1.jpg);
	background-size: cover;
}
.slider2{
	background-image: linear-gradient(rgba(0, 34, 68, .7),
	 rgba(0, 34, 68, .7)), url(imagenes/slider2.jpg);
	background-size: cover;
}
.slider3{
 	background-image: linear-gradient(rgba(0, 34, 68, .7),
	rgba(0, 34, 68, .7)), url(imagenes/slider3.jpg);
	background-size: cover;	
}
.expe{
position: absolute; 
top: 60px;
right: 80px;
color: #fff;
}
.jumbotron{
background-color: #002F44;

color: white;
}
.display-4{
	margin-top: 30px;
	text-align: center;
}
.fondo-card{
	color: white;
	text-align: center;
	background-color: #002F44;

}
.fondo{	
	color: #002F44;
	background-color: white;
	text-align: center;
}
.jumbotron2{
background-color: white;

}
.slider4{
	background-color: #B3ACAC;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  
}

.cellogo{
	height: 40px;
	width: 70px;
}
.logo-semi{
	text-align: left;
}
.footer{
	margin-top: -50px;
	padding: 10px 40px;
	background-color: #087E8C;
}
.footer2{
	background-color: #087E8C;
	padding: 10px 40px;
	margin-top: 40px;
}

.card{
	text-align: center;
}
.informacion{
	float: right;
}
.card-title{
	top: 0;
}
.position{
	position: flex;
}
.seminario-img{
	width: 338px;
	height: 280px;
	object-fit: cover;
}